{% extends "layouts/base.html" %}

{% block title %} Homepage {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>

        {% include 'includes/preloader.html' %}
        <nav class="py-2 bg-light border-bottom">
            <div class="container d-flex flex-wrap">
              <ul class="nav me-auto">
                <li class="nav-item"><h6 href="#" class="nav-link link-dark px-2 active" aria-current="page">Home</h6></li>
                <li class="nav-item"><h6 href="#" class="nav-link link-dark px-2">Features</h6></li>
                <li class="nav-item"><h6 href="#" class="nav-link link-dark px-2">Pricing</h6></li>
                <li class="nav-item"><h6 href="#" class="nav-link link-dark px-2">FAQs</h6></li>
                <li class="nav-item"><h6 href="#" class="nav-link link-dark px-2">About</h6></li>
              </ul>
              <ul class="nav">
                <li class="nav-item"><h6 href="#" class="nav-link link-dark px-2">Login</h6></li>
                <li class="nav-item"><h6 href="#" class="nav-link link-dark px-2">Sign up</h6></li>
              </ul>
            </div>
        </nav>
        <header class="py-3 mb-4 border-bottom">
            <div class="container d-flex flex-wrap justify-content-center">

              <a href="/" class="d-flex align-items-center mb-0 mb-lg-0 me-lg-auto text-dark text-decoration-none">
                <img src="/static/media/logo/4.svg", width="200" height="200" align="top">
              </a>

              <form class="col-12 col-lg-auto mb-0  mb-lg-0">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
              </form>
            </div>
          </header>
        <!-- Tutors Section -->

    <div class="section section-lg bg-primary-app">
        <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 text-center mb-5 mb-lg-6">
                <h2 class="display-2 fw-bold">
                    Tutors
                </h2>
                <p class="lead">Courses made easy</p>
            </div>
        </div>

            <div class="row justify-content-center">
                    <div class="col-12 col-lg-10">
                        <div class="card bg-white border-gray-300">
                            {% for user in user_list %}
                                <div class="border-bottom px-4 py-5">
                                <div class="row align-items-center">
                                    <div class="col-3 pb-3 pb-md-0">
                                        <img src="static{{user.image.url}}" class="rounded-circle" height="210" width="300" alt="{{user.username}}">
                                    </div>
                                    <div class="col-6  pb-md-3">
                                        <h2 class="h3 mb-1 fw-bolder">{{ user.user }}</h2>
                                        <p class="p mb-1"> Year {{user.year}}</p>
                                        <h3 class="h6 mb-3 fw-bolder">{{user.course}}</h3>
                                        <p class="mb-0">Collaborate with creative and development teams on the execution of ideas.</p>
                                    </div>
                                    <div class="col-3 text-center ">
                                            <p class="fw-bolder"><span class="h5 fw-bolder">RM{{user.rate}} /</span>h</p>
                                            <p>20 minute trial lesson</p>
                                            <span class="d-block mt-3">
                                                <span class="star fas fa-star text-warning"></span>
                                                <span class="star fas fa-star text-warning"></span>
                                                <span class="star fas fa-star text-warning"></span>
                                                <span class="star fas fa-star text-warning"></span>
                                                <span class="star fas fa-star text-warning"></span>
                                            </span>

                                            <span class="d-block mt-5">
                                                <a href="#" class="btn btn-primary btn-sm">Book Now</a>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
            </div>
        </div>

        <!--Contact Us Section-->
        <div class="section section-lg bg-primary-app">
            <div class="container">
                <div class="row mb-5 mb-lg-6">
                    <div class="col-12 col-sm-4 text-center">
                        <!-- Visit Box -->
                        <div class="icon-box mb-4">
                            <div class="icon icon-secondary-app mb-4">
                                <span class="fas fa-map-marker-alt"></span>
                            </div>
                            <h2 class="h5 icon-box-title">Visit me</h2>
                            <span>
                                27 Silicon Valley
                                <br>USA, California
                            </span>
                        </div>
                        <!-- End of Visit Box -->
                    </div>
                    <div class="col-12 col-sm-4 text-center">
                        <!-- Call Box -->
                        <div class="icon-box mb-4">
                            <div class="icon icon-secondary-app mb-4">
                                <span class="fas fa-phone-volume"></span>
                            </div>
                            <h2 class="h5 icon-box-title">Call</h2>
                            <span>+3912345678</span>
                            <div class="text-small text-gray">
                                Mon - Fri, 8am - 4pm
                            </div>
                        </div>
                        <!-- End of Call Box -->
                    </div>
                    <div class="col-12 col-sm-4 text-center">
                        <!-- Email Box -->
                        <div class="icon-box mb-4">
                            <div class="icon icon-secondary-app mb-4">
                                <span class="far fa-paper-plane"></span>
                            </div>
                            <h2 class="h5 icon-box-title">Email</h2>
                            <a href="#">hello@themesberg.com</a>
                        </div>
                        <!-- End of Email Box -->
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 text-center mb-4">
                        <h2>Want to work with me?</h2>
                        <p>Cool! Let’s talk about your project</p>
                    </div>
                    <div class="col-12 col-lg-8">
                        <form action="#">
                            <!-- Form -->
                            <div class="mb-4">
                                <label for="name">Your Name</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon3"><span class="fas fa-user-circle"></span></span>
                                    <input type="text" class="form-control" placeholder="e.g. Bonnie Green" id="name" required>
                                </div>
                            </div>
                            <!-- End of Form -->
                            <!-- Form -->
                            <div class="mb-4">
                                <label for="email">Your Email</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon4"><span class="fas fa-envelope"></span></span>
                                    <input type="email" class="form-control" placeholder="example@company.com" id="email" required>
                                </div>
                            </div>
                            <!-- End of Form -->
                            <div class="mb-4">
                                <label for="message">Your Message</label>
                                <textarea placeholder="Your message" class="form-control" id="message" rows="4" required></textarea>
                            </div>
                            <!-- End of Form -->
                            <div class="d-grid">
                                <button type="submit" class="btn rounded btn-secondary">Send message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </main>

    {% include 'includes/footer.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
